$color : red;

// *{
//     border: solid 1px $color;
// }

img{
    width: 100%;
  }

nav {
    .nav_bar_row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav_ul_first_row{
        width: 40%;

        div{
            display: flex;
            justify-content: space-between;
            position: relative;
            right: 20px;

            li{
                display: flex;
                align-items: center;
                width: 30%;
                font-size: 0.8rem;
            }

            img{
                width: 65%;
            }
        }
    }

    .nav_ul_second_row{
        width: 45%;

        div{
            display: flex;
            justify-content: space-between;

            li{
                display: flex;
                align-items: center;
                margin: 4px;
                width: 30%;
            }
            img{
                width: 50%;
            }
            .user_pfp{
                width: 85%;
            }
        }
    }


    li{
        list-style: none;
    }
}






