img {
  width: 100%; }

nav .nav_bar_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
nav .nav_ul_first_row {
  width: 40%; }
  nav .nav_ul_first_row div {
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 20px; }
    nav .nav_ul_first_row div li {
      display: flex;
      align-items: center;
      width: 30%;
      font-size: 0.85rem; }
    nav .nav_ul_first_row div .all_text {
      position: relative;
      top: 2px;
      display: inline-block;
      color: #4285F4; }
    nav .nav_ul_first_row div .all_text::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: -8px;
      width: 100%;
      height: 2px;
      /* Adjust thickness as needed */
      background-color: #4285F4;
      /* Adjust color as needed */
      margin-top: 4px;
      /* Adjust spacing as needed */ }
    nav .nav_ul_first_row div img {
      width: 65%; }
    nav .nav_ul_first_row div a {
      text-decoration: none;
      color: black; }
nav .nav_ul_second_row {
  width: 45%; }
  nav .nav_ul_second_row div {
    display: flex;
    justify-content: space-between; }
    nav .nav_ul_second_row div li {
      display: flex;
      align-items: center;
      margin: 4px;
      width: 30%; }
    nav .nav_ul_second_row div img {
      width: 50%; }
    nav .nav_ul_second_row div .user_pfp {
      width: 85%; }
nav li {
  list-style: none; }

.google_logo {
  margin: 0; }
  .google_logo img {
    width: 45%; }

form {
  display: flex;
  flex-direction: column; }
  form .search_box {
    width: 95%;
    display: flex;
    justify-content: space-between; }
    form .search_box .fa-solid {
      width: 10%;
      font-size: 1.1rem;
      margin: auto;
      text-align: center; }
    form .search_box .fa-magnifying-glass {
      color: gray; }
    form .search_box input {
      width: 80%;
      border: none;
      outline: none;
      padding-left: 3px; }

.offers {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: .9rem;
  margin: 2em 0;
  gap: .8em; }
  .offers .languages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 75%;
    margin: auto;
    text-decoration-line: none; }

@media (min-width: 600px) {
  nav .nav_ul_first_row {
    width: 22%; }
  nav .nav_ul_second_row {
    width: 22%; } }
.google_logo img {
  margin-top: 6.5em;
  width: 35%; }

form .search_box {
  width: 90%; }
  form .search_box .fa-solid {
    width: 5%; }
  form .search_box .fa-magnifying-glass {
    position: relative;
    right: 10px; }
  form .search_box .fa-camera {
    position: relative;
    left: 10px; }

.offers {
  flex-direction: row;
  width: 50%;
  margin: 2em auto;
  font-size: .8rem; }
  .offers .languages {
    width: 70%; }

@media (min-width: 1200px) {
  nav .nav_bar_row {
    width: 99%; }
  nav .nav_ul_second_row {
    width: 18%;
    position: relative;
    top: 15px; }
    nav .nav_ul_second_row .gmail_text {
      position: relative;
      right: 23px; }
    nav .nav_ul_second_row .images_text {
      position: relative;
      right: 18px; }
    nav .nav_ul_second_row a {
      text-decoration: none;
      color: black; }

  .google_logo img {
    width: 21%;
    margin-top: 0; }

  form .search_box {
    width: 45%;
    margin: 0 auto;
    transition: all 400ms ease-out; }
  form .form_buttons {
    flex-direction: row;
    width: 22%;
    margin: 1em auto;
    justify-content: space-between;
    font-size: .9rem; }
    form .form_buttons input {
      border: none;
      padding: .8em 1.2em;
      background-color: #F8F9FA; }
    form .form_buttons button {
      border: none;
      padding: .8em 1.2em;
      background-color: #F8F9FA; }

  .search_box:hover {
    box-shadow: 0 0 4px 0cqi gray; }

  .offers {
    width: 30%; } }

/*# sourceMappingURL=style.css.map */
