$color : red;
$link_color : #4285F4;

$button_color: #F8F9FA;

// *{
//     border: solid 1px $color;
// }

img{
    width: 100%;
  }

nav {
    .nav_bar_row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav_ul_first_row{
        width: 40%;

        div{
            display: flex;
            justify-content: space-between;
            position: relative;
            right: 20px;

            li{
                display: flex;
                align-items: center;
                width: 30%;
                font-size: 0.85rem;
            }

            .all_text {
                position: relative;
                top: 2px;
                display: inline-block;
                color: $link_color;
              }
          
              .all_text::after {
                content: "";
                position: absolute;
                bottom: -10px;
                left: -8px;
                width: 100%;
                height: 2px; /* Adjust thickness as needed */
                background-color: $link_color; /* Adjust color as needed */
                margin-top: 4px; /* Adjust spacing as needed */
              }

            img{
                width: 65%;
            }

            a{
                text-decoration: none;
                color: black;
            }
        }
    }

    .nav_ul_second_row{
        width: 45%;

        div{
            display: flex;
            justify-content: space-between;

            li{
                display: flex;
                align-items: center;
                margin: 4px;
                width: 30%;
            }
            img{
                width: 50%;
            }
            .user_pfp{
                width: 85%;
            }
        }
    }


    li{
        list-style: none;
    }
}

// this is the logo of google
.google_logo{
    img{
        width: 45%;
    }

    margin: 0;
}


form{

        .search_box{
            width: 95%;
            display: flex;
            justify-content: space-between;

            .fa-solid{
                width: 10%;
                font-size: 1.1rem;
                margin: auto;
                text-align: center;
            }

            .fa-magnifying-glass{
                color: gray;
            }

            .fa-camera{

            }
            
            input{
                width: 80%;
                border: none;
                outline: none;
                padding-left: 3px;
            }

        }

        display: flex;
        flex-direction: column;
    }

    

.offers{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: .9rem;
    margin: 2em 0;
    gap: .8em;

    .languages{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        width: 75%;
        margin: auto;
        text-decoration-line: none;
    }
}


@media (min-width: 600px) {
    nav{
        .nav_ul_first_row{
            width: 22%;
        }

        .nav_ul_second_row{
            width: 22%;
        }
    }

    
}


.google_logo{
        

        img{
            margin-top: 6.5em;
            width: 35%;
        }
    }


form{
    .search_box{
        width: 90%;

        .fa-solid{
        width: 5%;
    }

    .fa-magnifying-glass{
        position:relative;
        right: 10px;
    }

    .fa-camera{
        position:relative;
        left: 10px;        
    }
    }

    
}

.offers{
        flex-direction: row;
        width: 50%;
        margin: 2em auto;
        font-size: .8rem;

        .languages{
            width: 70%;
        }
    }




@media (min-width : 1200px ) {
    nav{

        .nav_bar_row{
            width: 99%;
        }
        
        

        .nav_ul_second_row{
            width: 18%;
            position: relative;
            top: 15px;
            .gmail_text{
                position: relative;
                right: 23px ;
            }

            .images_text{
                position: relative;
                right: 18px;
            }

            a{
                text-decoration: none;
                color: black;
                
            }
        }
    }

    .google_logo{
        img{
            width: 21%;
            margin-top: 0;
        }
    }


    form{
        .search_box{
            width: 45%;
            
            margin: 0 auto;
            transition: all 400ms ease-out;
        }

        .form_buttons{
            flex-direction: row;
            width: 22%;
            margin: 1em auto;
            justify-content: space-between;
            font-size: .9rem;

            input{
                border: none;
                padding: .8em 1.2em;
                background-color: $button_color;
            }
            
            button{
                border: none;
                padding: .8em 1.2em;
                background-color: $button_color;
            }
        }
    }

    .search_box:hover{
        box-shadow: 0 0 4px 0cqi gray;
    }
    .offers{
        width: 30% ;
    }

    
    
}